.form {
    max-width: 100px;
    background: red;
    padding: 50px;
    max-height: 50px;
}

.field {
    color: #1e7ec2;
    margin-top: 50%;
    outline: none;
    border: none;
    background-color: #c6d3e1;
    border-radius: 15px;
    font-family: Helvetica, monospace;
    letter-spacing: 2px;
    padding: 10px 15px;
    font-size: 24px;
    border-bottom: 2px solid #1e7ec2;
}