<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/products.css">
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
    <script src="../scripts/products.js"></script>
    <title>Список товаров</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <button id="logoutBtn">Выход</button>
            <span id="userInfo"></span>
            <form name="searchForm">
                <input name="q" type="text" placeholder="Введите текст"/>
                <input type="number" name="min_price" min="0" placeholder="Цена мин."/>
                <input type="number" name="max_price" min="0" placeholder="Цена макс."/>
            </form>
        </header>
        <main class="main">
            <ul class="product__list">

            </ul>
        </main>
    </div>
</body>
</html>